[Unit]
Description=<Starts fancontrol with CommanderProSettings>
DefaultDependencies=no
After=multi-user.target

[Service]
WorkingDirectory=/etc/CommanderPro/
ExecStart=/etc/CommanderPro/initialize.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
